{% extends 'base.html' %}

{% block main %}

<div>
<a href="{% url 'adicionar_livros' %}" type="button" class="btn btn-success"> ADICIONAR </a>
</div>
<!-- Hover Rows -->
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="header">
                <h2><strong> LIVROS </strong> <small></h2>
                <ul class="header-dropdown">
                    <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="javascript:void(0);">Action</a></li>
                            <li><a href="javascript:void(0);">Another action</a></li>
                            <li><a href="javascript:void(0);">Something else</a></li>
                            <li><a href="javascript:void(0);" class="boxs-close">Delete</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Cód.</th>
                            <th>LIVROS</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for livros in object_list %}
                        <tr>
                            <th scope="row">{{livros.id}}</th>
                            <th>{{livros.nome}}</th>         
                            <th>          
                                <a href="{% url 'livros_atualizar' livros.id %}"> ATUALIZAR </a>
                                <a href="{% url 'livros_deletar' livros.id %}"> DELETAR </a>                          
                            </th>
                        </tr> 
                        {% empty %}
                    
                        <tr>
                            <th colspan="2"> Cadastros não encontrados! </th>
                        </tr>
                    
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- #END# Hover Rows --> 

{% endblock %}