{% extends 'base.html' %}

{% block main %} 

{% load static %}

<h2> ALN- Acervo Literário Nacional </h2>

<section>
   <div class="container">
     <div class="row">
       <div class="col-sm-12  my-3">
          <p>
            O Acervo Literário Nacional tem a imensa honra de prestigiar os grandes autores brasileiros e suas respectivas obras que enriquecem a literatura do Brasil.</p>

              <h3> Explore nosso acervo de Obras Nacionais! </h3>

              <div class="row">
                <div class="col-sm-4">
                  <div class="card my-3 border-warning">
                    <img src="{% static 'assets/images/isaura.jpg' %}" class="card-img-top" alt="A escrava isaura" title="a escrava isaura">
                    <div class="card-body">
                      <h5 class="card-title"> A Escrava Isaura </h5>
                      <p class="card-text"> A obra narra a história de Isaura, uma escrava branca que foi criada como filha pela  família que a possuía. Assim, ela é protegida pela matriarca, que prometeu libertar a  escrava após sua morte, porém não é isso que ocorre. Isaura torna-se propriedade de  Leôncio após a morte dos pais dele. 
                      </p>
                      <a href="https://drive.google.com/file/d/1-CzC2zM7j3MwyYc0rAmhnFkRmFaI-d2m/view?usp=sharing" class="btn btn-outline-success" target="_blank"> DOWNLOAD </a>
                    </div>
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="card my-3 border-warning">
                    <img src="{% static 'assets/images/domcasmurro.jpg' %}" class="card-img-top" alt="Dom casmurro" title="dom casmurro">
                    <div class="card-body">
                      <h5 class="card-title"> Dom casmurro   </h5>
                      <p class="card-text">Conta a história de Bento Santiago (Bentinho), apelidado de Dom  Casmurro por ser calado e introvertido. Na adolescência, apaixona-se por Capítu,  abandonando o seminário e, com ele, os desígnios traçados pela mãe, Glória,  para ser padre. Casam-se e tudo corre bem, até o amor se tornar ciúme e  desconfiança. 
                      </p>
                      <a href="https://drive.google.com/file/d/1CUFYJYQwqSFvfduSlAhepTtd6WD3o5kj/view?usp=sharing" class="btn btn-outline-success" target="_blank"> DOWNLOAD </a>
                    </div>
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="card my-3 border-warning">
                    <img src="{% static 'assets/images/brazcubas.jpg' %}" class="card-img-top" alt="Memórias Póstumas de Brás Cubas" title="Memórias Póstumas de Brás Cubas">
                    <div class="card-body">
                      <h5 class="card-title"> Memórias Póstumas de Brás Cubas </h5>
                      <p class="card-text"> Após ter morrido, em pleno ano de 1869, Brás Cubas decide por narrar sua história e  revisitar os fatos mais importantes de sua vida, a fim de se distrair na eternidade. Então ele relembra de amigos, de sua formação acadêmica, dos amores de sua vida e ainda de nunca  ter precisado trabalhar. 
                      </p>
                      <a href="https://drive.google.com/file/d/1Rw2Uo-QQ3y5jm7G3MhTs-AQuMtLZ5tc_/view?usp=sharing" class="btn btn-outline-success" target="_blank"> DOWNLOAD </a>
                    </div>
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="card my-3 border-warning">
                    <img src="{% static 'assets/images/mulato.jpg' %}" class="card-img-top" alt="o mulato" title="o mulato">
                    <div class="card-body">
                      <h5 class="card-title"> Mulato </h5>
                      <p class="card-text"> O mulato apresenta uma história de um amor impossível entre um mulato chamado  Raimundo (filho bastardo de um comerciante português com uma escrava negra) com a  sua prima, a moça branca Ana Rosa. O livro denuncia a injustiça social e o preconceito  vivido pelos negros e mestiços naquela região do Brasil.
                      </p>
                      <a href="https://drive.google.com/file/d/1or_C14RHtcEcePOfhJ99H4296xRLGKLG/view?usp=sharing" class="btn btn-outline-success" target="_blank"> DOWNLOAD </a>
                    </div>
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="card my-3 border-warning">
                    <img src="{% static 'assets/images/cortico.jpg' %}" class="card-img-top" alt="o cortiço" title="o cortiço">
                    <div class="card-body">
                      <h5 class="card-title"> O cortiço </h5>
                      <p class="card-text"> O Cortiço narra a busca do português João Romão pelo enriquecimento e para tal ele  explora os empregados e é capaz de tudo para atingir seus objetivos. Há, em paralelo,  os moradores do cortiço que têm menor ambição, dentre eles, Rita Baiana e Capoeira  Firmo, Jerônimo e Piedade. 
                      </p>
                      <a href="https://drive.google.com/file/d/1QvgnLQGg7yv1nmeeNSsnSKge-b7WO3O_/view?usp=sharing" class="btn btn-outline-success" target="_blank"> DOWNLOAD </a>
                    </div>
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="card my-3 border-warning">
                    <img src="{% static 'assets/images/vidassecas.jpg' %}" class="card-img-top" alt="vidas secas" title="vidas secas">
                    <div class="card-body">
                      <h5 class="card-title"> Vidas Secas </h5>
                      <p class="card-text"> A história de uma família pobre da região seca do Nordeste e sua luta diária por trabalho e comida para sobreviver e superar as dificuldades do ambiente árido em que vive.  Baseado no livro homônimo de Graciliano Ramos. 
                      </p>
                      <a href="https://drive.google.com/file/d/13Zbk5EvRbp9HkyoZqwB9apQIcMny55SO/view?usp=sharing" class="btn btn-outline-success" target="_blank"> DOWNLOAD </a>
                    </div>
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="card my-3 border-warning">
                    <img src="{% static 'assets/images/sertoes.jpg' %}" class="card-img-top" alt="os sertões" title="os sertões">
                    <div class="card-body">
                      <h5 class="card-title"> Os Sertões </h5>
                      <p class="card-text">Em Os sertões, Euclides da Cunha usou uma linguagem grandiloquente e rica em termos  científicos, apresentou nessa obra, no qual o tema principal é a Guerra de Canudos, um 
                        verdadeiro retrato do Brasil no fim do século XIX, discutiu problemas que transcendem o  conflito que ocorreu no interior da Bahia.
                      </p>
                      <a href="https://drive.google.com/file/d/1isbG773adGxV1Kh1JxE_votFcfQ8vD00/view?usp=sharing" class="btn btn-outline-success" target="_blank"> DOWNLOAD </a>
                    </div>
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="card my-3 border-warning">
                    <img src="{% static 'assets/images/ateneu.jpg' %}" class="card-img-top" alt="o ateneu" title="o ateneu">
                    <div class="card-body">
                      <h5 class="card-title"> O ateneu </h5>
                      <p class="card-text">“O Ateneu”, obra do escritor naturalista Raul Pompeia, conta a história de Sérgio, um  menino que, aos 11 anos, passa a estudar, como interno, no renomado Colégio Ateneu.  Raul Pompeia, autor de “O Ateneu”, foi um escritor pertencente ao Naturalismo brasileiro.  O Ateneu é um romance do escritor Raul Pompeia.
                      </p>
                      <a href="https://drive.google.com/file/d/1xivcf2KtTB6LBG7yG8YFVSTQAfrMwYEK/view?usp=sharing" class="btn btn-outline-success" target="_blank"> DOWNLOAD </a>
                    </div>
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="card my-3 border-warning">
                    <img src="{% static 'assets/images/essagente.jpg' %}" class="card-img-top" alt="essa gente" title="essa gente">
                    <div class="card-body">
                      <h5 class="card-title"> Essa gente </h5>
                      <p class="card-text">Um escritor decadente enfrenta uma crise financeira e afetiva enquanto o Rio de Janeiro  colapsa à sua volta. Tragicomédia urgente, o novo romance de Chico Buarque é a  primeira obra literária de vulto a encarar o Brasil do agora. 
                        Há alguns pontos de contato entre Chico Buarque e o protagonista de Essa gente, seu  primeiro livro após a consagração do prêmio Camões.                         
                      </p>
                      <a href="https://drive.google.com/file/d/1iybCsrwDW_WzQ7ZeCFlKcv4SynBT2qKU/view?usp=sharing" class="btn btn-outline-success" target="_blank"> DOWNLOAD </a>
                    </div>
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="card my-3 border-warning">
                    <img src="{% static 'assets/images/uruguai.jpg' %}" class="card-img-top" alt="O Uruguai" title="O Uruguai">
                    <div class="card-body">
                      <h5 class="card-title"> O Uruguai  </h5>
                      <p class="card-text">Escrito por Basílio da Gama em 1769, O Uraguai é um poema épico que conta de forma  romanceada a história da disputa entre os jesuítas, índios (liderados por Sepé Tiaraju) e  europeus (espanhóis e portuguesas) nos Sete Povos das Missões, no Rio Grande do Sul.  
                      </p>
                      <a href="https://drive.google.com/file/d/1v2I3MRrpVvtLHwyuIducqsSXqPySr0xW/view?usp=sharing" class="btn btn-outline-success" target="_blank"> DOWNLOAD </a>
                    </div>
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="card my-3 border-warning">
                    <img src="{% static 'assets/images/moreninha.jpg' %}" class="card-img-top" alt="A Moreninhaa" title="A Moreninha">
                    <div class="card-body">
                      <h5 class="card-title"> A Moreninha </h5>
                      <p class="card-text"> Toda a história se passa na paradisíaca Ilha de Paquetá, centrada em Carolina e Augusto. Amigos da família reúnem-se para um sarau na casa de Carolina. Lá, ela vai reencontrar  o amor dos tempos de criança, com quem trocou juras de amor e um camafeu, peça  fundamental para que eles se reconheçam. 
                      </p>
                      <a href="https://drive.google.com/file/d/1dYAaGPEImDSfxYJby-CH_XsgPbuLOrgH/view?usp=sharing" class="btn btn-outline-success" target="_blank"> DOWNLOAD </a>
                    </div>
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="card my-3 border-warning">
                    <img src="{% static 'assets/images/taverna.jpg' %}" class="card-img-top" alt="A noite na taverna" title="A noite na taverna">
                    <div class="card-body">
                      <h5 class="card-title"> A noite na taverna   </h5>
                      <p class="card-text"> Em uma taverna do século XIX, cinco amigos decidem narrar suas macabras histórias de  amor. As paixões de Solfieri, Bertram, Gennaro, Claudius Hermann e Johann são tão  intensas quanto loucas. No passado, ainda jovens e inconsequentes, eles macularam  suas vidas com atos infames, que nunca esqueceram
                      </p>
                      <a href="https://drive.google.com/file/d/1FQln9rZYQO0xN6ShyZMeyHF9fh0_EdDP/view?usp=sharing" class="btn btn-outline-success" target="_blank"> DOWNLOAD </a>
                    </div>
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="card my-3 border-warning">
                    <img src="{% static 'assets/images/senhora.jpg' %}" class="card-img-top" alt="Senhora" title="Senhora">
                    <div class="card-body">
                      <h5 class="card-title"> Senhora </h5>
                      <p class="card-text"> Aurélia Camargo e Fernando Seixas se amam, mas a situação financeira de ambos o  separa. Aurélia recebe uma grande herança com a morte do avô e descobre que 
                        Fernando passa por dificuldades. Ela compra o dote dele para que não o perca mais uma  vez.                        
                      </p>
                      <a href="https://drive.google.com/file/d/1rTbssYDACOqzzwku_cy31KQUDdarNLu5/view?usp=sharing" class="btn btn-outline-success" target="_blank"> DOWNLOAD </a>
                    </div>
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="card my-3 border-warning">
                    <img src="{% static 'assets/images/iracema.jpg' %}" class="card-img-top" alt="Iracema" title="Iracema">
                    <div class="card-body">
                      <h5 class="card-title"> Iracema  </h5>
                      <p class="card-text"> Narra a história de um amor improvável entre uma índia e um colonizador português, no  início do processo de colonização efetiva da costa brasileiro, no século XVII. Desse amor  nasceria o primeiro mestiço, símbolo de uma nova raça que seria o povo brasileiro.  Iracema é uma índia da nação Tabajara. 
                      </p>
                      <a href="https://drive.google.com/file/d/1twwM5drvSLnyK0wxIEl_H_jUI5eGa4bP/view?usp=sharing" class="btn btn-outline-success" target="_blank"> DOWNLOAD </a>
                    </div>
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="card my-3 border-warning">
                    <img src="{% static 'assets/images/quinze.jpg' %}" class="card-img-top" alt="O Quinze" title="O Quinze">
                    <div class="card-body">
                      <h5 class="card-title"> O Quinze  </h5>
                      <p class="card-text"> O Quinze foi o primeiro livro da escritora Rachel de Queiroz. Publicado em 1930, ele narra a seca histórica de 1915 pelo olhar de uma professora que mora em Fortaleza e que, em  suas férias, visita a fazenda da família. O romance faz parte do ciclo nordestino com  algumas características do neorrealismo. 
                      </p>
                      <a href="https://drive.google.com/file/d/1bhTp0xeVF_h2moCbVTUFWsfKeAICdHFe/view?usp=sharing" class="btn btn-outline-success" target="_blank"> DOWNLOAD </a>
                    </div>
                  </div>
                </div>


                <div class="col-sm-4">
                  <div class="card my-3 border-warning">
                    <img src="{% static 'assets/images/sdo.jpg' %}" class="card-img-top" alt="Sonhos D’ ouro" title="Sonhos D’ ouro">
                    <div class="card-body">
                      <h5 class="card-title"> Sonhos D’ ouro  </h5>
                      <p class="card-text"> Ricardo era um rapaz pobre e que saíra de São Paulo onde morava sua mãe, irmã e sua  noiva Bela para ir à Corte tentar conquistar o suficiente para dar uma vida digna a estas.  Joaquina, mãe de seu amigo. Era costume dela, mesmo pobre, ajudar uma família que de vez em vez precisava de socorro.
                      </p>
                      <a href="https://drive.google.com/file/d/1-a7kx9CdByM7Ofe4jNFvKAT5lkoFfdiu/view?usp=sharing" class="btn btn-outline-success" target="_blank"> DOWNLOAD </a>
                    </div>
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="card my-3 border-warning">
                    <img src="{% static 'assets/images/ursula.jpg' %}" class="card-img-top" alt="Úrsula" title="Úrsula">
                    <div class="card-body">
                      <h5 class="card-title"> Úrsula </h5>
                      <p class="card-text"> O romance trata de uma trágica história de amor entre dois jovens: a pura e simples  Úrsula e o nobre bacharel Tancredo, e, aparentemente, é uma clássica história de amor  impossível, como muitas de seu tempo. O prólogo estabelece o território cultural que  embasa o projeto do romance. 
                      </p>
                      <a href="https://drive.google.com/file/d/1EteHNhji3Wg7rYJix9vTO7341hEicQwX/view?usp=sharing" class="btn btn-outline-success" target="_blank"> DOWNLOAD </a>
                    </div>
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="card my-3 border-warning">
                    <img src="{% static 'assets/images/pensão.jpg' %}" class="card-img-top" alt="Casa de pensão " title="Casa de pensão ">
                    <div class="card-body">
                      <h5 class="card-title"> Casa de pensão  </h5>
                      <p class="card-text">Casa de Pensão, de Aluísio de Azevedo, é um clássico brasileiro símbolo do Naturalismo.  A narrativa se baseia nas escolhas de Amâncio, um típico jovem rico do interior, 
                        vislumbrado com uma vida de vícios na capital. Moldado pelas influências da sociedade  ao seu redor, encontra um trágico fim para sua jornada. 
                        
                      </p>
                      <a href="https://drive.google.com/file/d/1_iw45yXL3GuH8mVSUVmYlqs1QNxYrQcb/view?usp=sharing" class="btn btn-outline-success" target="_blank"> DOWNLOAD </a>
                    </div>
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="card my-3 border-warning">
                    <img src="{% static 'assets/images/primeiroscantos.jpg' %}" class="card-img-top" alt=" Primeiros cantos" title=" Primeiros cantos">
                    <div class="card-body">
                      <h5 class="card-title"> Primeiros cantos </h5>
                      <p class="card-text"> Livro Primeiros Cantos de Gonçalves Dias, de estréia do poeta, foi publicado no Rio de  Janeiro em 1846. Dividido em duas partes, abre com uma seção de seis poemas, sob a  denominação Poesias americanas; os outros, quase quarenta, agrupam-se em duas  seções: Poesias diversas e Hinos. 
                      </p>
                      <a href="https://drive.google.com/file/d/1Sm4RP9XzAo2CMkwf2EeCvjXF-gz-PJ7V/view?usp=sharing" class="btn btn-outline-success" target="_blank"> DOWNLOAD </a>
                    </div>
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="card my-3 border-warning">
                    <img src="{% static 'assets/images/saci.jpg' %}" class="card-img-top" alt=" O saci" title=" O saci">
                    <div class="card-body">
                      <h5 class="card-title"> O saci </h5>
                      <p class="card-text"> Esta é a primeira e única adaptação para o cinema da obra de Monteiro Lobato e narra as aventuras dos inseparáveis amigos Pedrinho, Emilia e Narizinho quando vão para o mato  à procura do moleque travesso de uma perna só, Saci.
                      </p>
                      <a href="https://drive.google.com/file/d/1qB2QT-u_kXjkm8Uch5fmByWe6f1QlJZZ/view?usp=sharing" class="btn btn-outline-success" target="_blank"> DOWNLOAD </a>
                    </div>
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="card my-3 border-warning">
                    <img src="{% static 'assets/images/abolucionismo.jpg' %}" class="card-img-top" alt="O abolicionismo " title="O abolicionismo ">
                    <div class="card-body">
                      <h5 class="card-title"> O abolicionismo  </h5>
                      <p class="card-text"> “Homem atualíssimo, de palavra e de ideias tão moças que dificilmente o imaginamos  nascido há quase cem anos.” Gilberto Freyre referindo-se a Joaquim Nabuco, em 1947 No centenário de morte do principal abolicionista brasileiro, Joaquim Nabuco (1849-1910), a BestBolso relançou o clássico O abolicionismo com apresentação de Gilberto Freyre e  prefácio do historiador Humberto França. 
                      </p>
                      <a href="https://drive.google.com/file/d/1QDW35eV9gIPju61h9TY3lbq5HDTlhoGJ/view?usp=sharing" class="btn btn-outline-success" target="_blank"> DOWNLOAD </a>
                    </div>
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="card my-3 border-warning">
                    <img src="{% static 'assets/images/ave.jpg' %}" class="card-img-top" alt="A voz da esperança" title="A voz da esperança  ">
                    <div class="card-body">
                      <h5 class="card-title"> A voz da esperança   </h5>
                      <p class="card-text">A obra apresenta os principais poemas do autor divididos em seis núcleos temáticos: o  amor, a liberdade, a morte, a natureza, a saudade e a própria poesia. Em seus poemas de caráter épico-social, dos quais o mais famoso é “O navio negreiro”, constata-se a marca  vigorosa da oratória e a denúncia das mazelas da escravidão. 
                      </p>
                      <a href="https://drive.google.com/file/d/1b96yIwdK6WsdB6U22YCJy2ymLSTP9DOi/view?usp=sharing" class="btn btn-outline-success" target="_blank"> DOWNLOAD </a>
                    </div>
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="card my-3 border-warning">
                    <img src="{% static 'assets/images/alienista.jpg' %}" class="card-img-top" alt="O alienista" title="O alienista">
                    <div class="card-body">
                      <h5 class="card-title"> O alienista   </h5>
                      <p class="card-text"> Após conquistar respeito em sua carreira de médico na Europa e no Brasil, o Dr. Simão  Bacamarte retorna à sua terra-natal, Itaguaí, para se dedicar ainda mais a sua profissão.  Após um tempo na cidade, casa-se com a já viúva D. ... Bacamarte passou a enxergar  loucura em todos e a internar pessoas que causavam espanto.
                      </p>
                      <a href="https://drive.google.com/file/d/1xJ-JqBjNi1gu-56staLgbEnwTiN5-uEi/view?usp=sharing" class="btn btn-outline-success" target="_blank"> DOWNLOAD </a>
                    </div>
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="card my-3 border-warning">
                    <img src="{% static 'assets/images/macunaima.jpg' %}" class="card-img-top" alt="Macunaíma" title="Macunaíma">
                    <div class="card-body">
                      <h5 class="card-title"> Macunaíma  </h5>
                      <p class="card-text">Macunaíma, livro de Mário de Andrade publicado em 1928, é considerado um dos  principais romances modernistas. A obra é uma rapsódia sobre a formação do Brasil, em  que vários elementos nacionais se cruzam numa narrativa que conta a história de  Macunaíma, o herói sem nenhum caráter.
                      </p>
                      <a href="https://drive.google.com/file/d/1ZfFWI5EhaN8v1MYnb-3Jq6bJijGUcPZB/view?usp=sharing" class="btn btn-outline-success" target="_blank"> DOWNLOAD </a>
                    </div>
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="card my-3 border-warning">
                    <img src="{% static 'assets/images/tristefim.jpg' %}" class="card-img-top" alt="Triste fim de Policarpo Quaresma" title="Triste fim de Policarpo Quaresma">
                    <div class="card-body">
                      <h5 class="card-title"> Triste fim de Policarpo Quaresma </h5>
                      <p class="card-text">Triste Fim de Policarpo Quaresma é um romance do pré-modernismo brasileiro e  considerado por alguns o principal representante desse movimento. Escrito por Lima  Barreto, foi levado a público pela primeira vez em folhetins, publicados, entre agosto e  outubro de 1911, na edição da tarde do Jornal do Commercio do Rio de Janeiro. Em  1915, também no Rio de Janeiro, a obra foi pela primeira vez impressa em livro, em  edição de autor. 
                      </p>
                      <a href="https://drive.google.com/file/d/1anMivDVqph4aeM2wxPt8so4F0liUE0aA/view?usp=sharing" class="btn btn-outline-success" target="_blank"> DOWNLOAD </a>
                    </div>
                  </div>
                </div> 
                
                <div class="col-sm-4">
                  <div class="card my-3 border-warning">
                    <img src="{% static 'assets/images/quincasborba.jpg' %}" class="card-img-top" alt="Quincas Borba" title="Quincas Borba">
                    <div class="card-body">
                      <h5 class="card-title"> Quincas Borba   </h5>
                      <p class="card-text"> Publicado em 1891, o romance conta a vida de Rubião, um pacato professor que se torna rico da noite para o dia ao receber uma herança deixada pelo filósofo Quincas Borba,  criador de uma filosofia chamada Humanitismo. Rubião passa a viver no fausto da Corte  do Rio de Janeiro, num ambiente a que não estava acostumado e que muito o deslumbra. Torna-se amigo de um casal, Palha e Sofia, em torno dos quais e do próprio Rubião gira  todo o enredo do romance
                      </p>
                      <a href="https://drive.google.com/file/d/114slN3rR9W2mkL3xJdaE817XLeH-nOO1/view?usp=sharing" class="btn btn-outline-success" target="_blank"> DOWNLOAD </a>
                    </div>
                  </div>
                </div>

              </div>
        </div>
      </div>
  </div>
</section>

  
{% endblock %}